.main {
    padding-top: 75px;
    padding-bottom: 30px;
    display: flex;
}


.Loader {
    position: relative;
}

.spinier {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 1.15;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.containerImg {
    width: 250px;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img {
    width: 200px;
    height: 150px;
    transition: transform .7s ease-out;
    box-shadow: 0px 3px 10px 2px #18191a;
    border-radius: 10px;
}

.img:not(:last-child) {
    margin-bottom: 25px;
}

.img:hover {
    transform: scale(1.15);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.item {
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 1.15;
    text-align: center;
}

.item:not(:last-child) {
    margin-bottom: 5px;
}

.text {
    font-size: 17px;
    font-weight: 700;
    font-family: "Montserrat";
    line-height: 1.15;
    margin-bottom: 5px;
}

.span {
    font-weight: 500;
    font-size: 15px;
    font-family: "Montserrat";
    line-height: 1.15;
    margin-right: 4px;
}

.link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.link>.span {
    font-weight: 700;
}

.btn {
    min-width: 80px;
    border-radius: 5px;
    padding: 10px;
    background-color: #0000008a;
    color: black;
    background: rgb(100, 100, 100) radial-gradient(circle at 0 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
    box-shadow: inset rgba(0, 0, 0, .5) -3px -3px 8px, inset rgba(255, 255, 255, .9) 3px 3px 8px, rgba(0, 0, 0, .8) 3px 3px 8px -3px;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    margin-bottom: 15px;
}

@media screen and (min-width:768px) {

    .containerImg {
        width: 708px;
        padding: 20px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-right: -30px;
        justify-content: center;
    }

    .img {
        width: 270px;
        height: 210px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .listContainer {
        display: flex;
        justify-content: center;
    }

    .list {
        width: 530px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -40px;
    }

    .item {
        font-size: 18px;
        display: flex;
        line-height: 1.15;
        text-align: left;
        border: 1px solid black;
        padding: 5px;
        box-shadow: 0px 3px 10px 2px #18191a;
        border-radius: 10px;
        align-items: center;
        margin-right: 20px;
    }

    .item:not(:last-child) {
        margin-bottom: 20px;
    }

    .text {
        margin-right: 8px;
        margin-bottom: 0;
    }

    .containerBtn {
        text-align: left;
    }
}

@media screen and (min-width:1280px) {
    .main {
        width: 1280px;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .wrap {
        display: flex;
    }

    .list {
        margin-right: 0;
    }

}