.main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel {
    max-width: 300px;
    margin: 0 auto;
}

.img {
    width: 200px;
    height: 150px;
}

.img:not(:last-child) {
    margin-bottom: 20px;
}